AFFILIATE_GOVERNED_PROJECT_NAME=bracketiq-affiliate-governed
AFFILIATE_AGENT_IMAGE=ghcr.io/razumly/bracketiq-site@sha256:REVIEWED_IMAGE_DIGEST
AFFILIATE_AGENT_RESTART_POLICY=no
AFFILIATE_AGENT_UID=1001
AFFILIATE_AGENT_GID=1001
AFFILIATE_AGENT_GATEWAY_ADDRESS=http://affiliate-gateway.internal:8080
AFFILIATE_AGENT_MODEL_ADDRESS=http://affiliate-model.internal:8080
AFFILIATE_AGENT_MODEL_CREDENTIAL=REVIEWED_MODEL_CREDENTIAL
AFFILIATE_AGENT_WORKSPACE_ROOT=/srv/bracketiq/affiliate-governed/workspaces
AFFILIATE_AGENT_GATEWAY_NETWORK=bracketiq_affiliate_gateway_internal
AFFILIATE_MAPPING_PRODUCER_1_CREDENTIAL=REVIEWED_MAPPING_PRODUCER_1_CREDENTIAL
AFFILIATE_MAPPING_PRODUCER_2_CREDENTIAL=REVIEWED_MAPPING_PRODUCER_2_CREDENTIAL
AFFILIATE_SUPPLY_REVIEWER_1_CREDENTIAL=REVIEWED_SUPPLY_REVIEWER_1_CREDENTIAL
AFFILIATE_SUPPLY_REVIEWER_2_CREDENTIAL=REVIEWED_SUPPLY_REVIEWER_2_CREDENTIAL
AFFILIATE_COVERAGE_PLANNER_CREDENTIAL=REVIEWED_COVERAGE_PLANNER_CREDENTIAL
